:host {
  display: block;
}

.inner-container {
  padding: 1.5rem !important;
  width: 100%;
}

.back-link {
  margin: 1rem 2rem;
}

.detail-card {
  max-width: 700px;
  margin: 1rem auto;
}

.comment-section {
  max-width: 700px;
  margin: 1rem auto;
}
